<template>
    <div class="chat-message">
        <p v-html="message.message"></p>
        <small v-html="message.user.name"></small>
    </div>
</template>

<script>
    export default {
        props:{
            message: Object
        }
    }
</script>

<style>
    .chat-message {
        padding: 5px;
    }

    .chat-message > p {
        margin-bottom: 5px;
    }
</style>